<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/componente/head :: head"> 
</head>
<link rel="stylesheet" href="/prueba.css">

<body>
  <nav th:replace="/componente/navbar :: navbar"></nav>
  <div class="container mb-3">
    <h1 class="text-center  ">Lista de Usuarios</h1>
    <a class="btn btn-outline-warning" href="/usuario/create">Nuevo Usuario</a>

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>DNI</th>
          <th>APELLIDOS</th>
          <th>NOMBRES</th>
          <th>CLAVE</th>
          <th>TIPO</th>
          <th>Acciones</th>

        </tr>
      <tbody class="table-group-divider">
        <tr th:each="usuario: ${usuario}">
          <td th:text="${usuario.idusuario}" ></td>
          <td th:text="${usuario.dni}" ></td>
          <td th:text="${usuario.apellidos}" ></td>
          <td th:text="${usuario.nombres}" ></td>
          <td th:text="${usuario.clave}"></td>
          <td  th:text="${usuario.tipo == 1 ? 'Admin' : usuario.tipo == 2 ? 'User' : 'otro'}"></td>

          <td style="white-space:nowrap">
            <a class="btn btn-primary btn-sm" th:href="@{/usuario/edit(id=${usuario.idusuario})}">Editar</a>
            <a class="btn btn-danger btn-sm" th:href="@{/usuario/delete(id=${usuario.idusuario})}">Borrar</a>

          </td>

        </tr>
      </tbody>
      </thead>
    </table>
  </div>




  <footer th:replace="/componente/footer :: footer"></footer>
</body>

</html>