

<nav th:fragment="navbar" class="navbar navbar-expand-lg color_nav ">
    <div class="container">
      <a class="navbar-brand text-black fw-semibold" href="#">CleVal</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-dark" id="navbarNav" >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-black fw-semibold " aria-current="page" th:href="@{/}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black fw-semibold" th:href="@{/producto}">Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black fw-semibold" href="#">Cliente</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black fw-semibold" href="">Venta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-black fw-semibold" href="" >Reporte</a>
          </li>

          <li class="nav-item">
            <a th:if="${session.tiposession}==1" class="nav-link text-black fw-semibold" th:href="@{/usuario}">Usuario</a>
          </li>
          
        </ul>
      </div>
     <a th:if="${session.tiposession == null} " class="navbar-brand text-black fw-semibold" th:href="@{/login}" >Ingresar</a>
     <a th:if="${session.tiposession != null} " class="navbar-brand text-black fw-semibold" th:href="@{/logout}">Salir</a>
    </div>
  </nav>