<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/componente/head :: head">
</head>

<body>
  <nav th:replace="/componente/navbar :: navbar"></nav>
  <div class="container mb-3">
    <h1 class="text-center bg-danger ">Lista de productos</h1>
    <a class="btn btn-danger" href="/producto/create">Nuevo Producto</a>

    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Codigo</th>
          <th>Marca</th>
          <th>Descripcion</th>
          <th>Stock</th>
          <th>Precio</th>
          <th>Acciones</th>

        </tr>
      <tbody class="table-group-divider">
        <tr th:each="producto: ${producto}">
          <td th:text="${producto.idproducto}"></td>
          <td th:text="${producto.codigo}"></td>
          <td th:text="${producto.marca}"></td>
          <td th:text="${producto.descripcion}"></td>
          <td th:text="${producto.stock}"></td>
          <td th:text="${producto.precio}"></td>

          <td style="white-space:nowrap">
            <a class="btn btn-primary btn-sm" th:href="@{/producto/edit(id=${producto.idproducto})}">Editar</a>
            <a class="btn btn-danger btn-sm" th:href="@{/producto/delete(id=${producto.idproducto})}">Borrar</a>

          </td>

        </tr>
      </tbody>
      </thead>
    </table>
  </div>




  <footer th:replace="/componente/footer :: footer"></footer>
</body>

</html>