<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/componente/head :: head"></head>
  <body>

   <nav th:replace="/componente/navbar :: navbar"></nav>

    <div class="container mb-3 mt-lg-4"
    >
    <h1 class="text-center bg-secondary" >Bienvenidos Al sistema de Ventas</h1>
    <!-- <a class="btn btn-danger" href="/producto">Producto</a> -->
    </div>

    <div >
    <center><img  src="img/CleVal.jpg" alt="tambo" width="900" height="500"></center>  
    </div>


   <footer th:replace="/componente/footer :: footer"></footer>
  </body>
</html>
