<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/componente/head :: head"></head>
<link rel="stylesheet" href="/prueba.css">
<link
rel="preload"
href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css"
as="style"
onload="this.onload=null;this.rel='stylesheet'"
/>
  <body class="container_body" >

   <nav th:replace="/componente/navbar :: navbar"></nav>

    <div class="container mb-3 mt-lg-4"
    >
    <h1 class="text-center " >Bienvenidos Al sistema de Ventas</h1>
    <!-- <a class="btn btn-danger" href="/producto">Producto</a> -->
    </div>

    <div >
    <center><img  src="img/CleVal.jpg" alt="tambo" width="1200" height="600"></center>  
    </div>


   <footer th:replace="/componente/footer :: footer"></footer>
  </body>
</html>
